@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="container-fluid">
        <h1 class="text-center">Test</h1>
        <div class="row">
        </div>
    </div>

@section Scripts
{
    <script type="text/javascript">
    </script>
}




